body{
    background-color: seagreen;
    font: normal 15px Arial;
    text-align: center;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: auto;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 3px #000;

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 12px;
}
#res{
    text-align: center;
}